.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
label{
    font-size: 100%;
    margin-right: auto;
}
select{
   
    width: 40%;
    text-align: center ;
}
.amount-input{
  
    width: 40%;
}
textarea{
    
    width: 40%;
}
.trns-type-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.description-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.amount-container{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
button{
    background-color: blue;
    color: #ffffff;
    padding: 2%;
    border-radius: 8px;
    border-style: none;
    margin: 25px 5px 5px 5px;
    
    font-size: 100%;  
    text-align: center;

}
form{
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    margin: 30px;
    padding:0px 30px 30px 30px;
    width: 50%;
}
.error-mesg{
    color:#ff0000;
    
}